@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
body {
    background: #26a69a;
}

.page-body {
    min-width: 960px;
    max-width: 1024px;
    margin: 10px auto;
}

.hiddensearch {
    .row, .input-field {
        margin: 0;
    }
    .btn {
        margin-top: 0.4rem;
    }
}

.material-table {
    table {
        table-layout: fixed;
        tr {
            th {
                font-weight: 500;
                background-color: #fdfdfd;
            }
            th, td {
                font-size: 12px;
                line-height: 3.6;
                color: rgba(0, 0, 0, 0.87);
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 15px;
                input {
                    margin-bottom: 0;
                }
                span {
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    } 
    .table-title {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 20px;
        font-weight: 100;
        color: #000;
    }
    .product {
        border-bottom: solid 1px #f7f7f7;
        cursor: pointer;
        &:hover {
            background-color: #f7fffe;
        }
        .btn-flat {
            padding: 0;
        }
        .material-icons {
            display: inline-block;
            width: 36px;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.54);
            background: #fdfdfd;
            padding: 0;
            &:hover {
                color: #fff;
                background: #26a69a;
            }
        }
    }
    .expand {
        background-color: #f7f7f7;
    }
}

.table-header {
    height: 64px;
    padding: 0 15px;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-display: flex;
    border-bottom: solid 1px #f7f7f7;
    i {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
    .actions {
        display: -webkit-flex;
        margin-left: auto;
    }
    .btn-flat {
        min-width: 36px;
        padding: 0 8px;
    }
}




.modal-full {
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-shadow: none;
    .card-title {
        font-family: 'Noto Sans TC', sans-serif;
        padding: 10px 10px 20px;
    }
}


.purchase-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    color: rgba(0,0,0,.86);
}